<%- include('./partials/_header.ejs') %>

<section>
  <div class="form-container">
    <div class="form">
      <p style="font-style: italic;">Click to select a user</p>
      <button><a href="/adduser">Add User</a></button>
      <% if (error) { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
      <% if (usersList && usersList.length === 0) { %>
        <p>No users found.</p>
      <% } else { %>
        <ul>
          <% usersList.forEach(user => { %>
            <li>
              <p class="user <%= user.id === selectedUserId ? 'selected' : '' %>" id="user-<%= user.id %>" onclick="selectUser(<%= user.id %>)"><%= user.name %></p>
              <div class="edit-and-delete" id="edit-and-delete-<%= user.id %>" style="<%= user.id === selectedUserId ? 'display: block;' : 'display: none;' %>">
                <button><a href="/updateuser?id=<%= user.id %>">Edit User</a></button>
                <button class="delete" onclick="deleteUser(<%= user.id %>)">Delete User</button>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
      <a href="/">back</a>
    </div>
  </div>
</section>

<%- include('./partials/_footer.ejs') %>
<script>
  let selectedUserId = <%= selectedUserId %>;

  function selectUser(userId) {
    fetch('/updateSelectedUser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ userId }),
    })
    .then(response => {
      if (response.ok) {
        // Update the UI after successful response
        selectedUserId = userId;
        document.querySelectorAll('.user').forEach(user => {
          user.classList.remove('selected');
        });
        document.querySelector(`#user-${userId}`).classList.add('selected');
        document.querySelectorAll('.edit-and-delete').forEach(buttons => {
          buttons.style.display = 'none';
        });
        document.querySelector(`#edit-and-delete-${userId}`).style.display = 'block';
      } else {
        console.error('Failed to update selected user:', response.statusText);
      }
    })
    .catch(err => {
      console.error('Error:', err);
    });
  }

  function deleteUser(userId) {
    if (confirm('Are you sure you want to delete this user?')) {
      fetch(`/deleteuser?id=${userId}`)
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            alert('Failed to delete user.');
          }
        })
        .catch(err => console.error('Error deleting user:', err));
    }
  }
</script>

<script src="/scripts/users.js"></script>